<%= form_with model: place do |form| %>
  <% if place.errors.any? %>
    <ul>
      <% place.errors.each do |error| %>
        <div class="<%= flash_class('error') %>" role="alert">
          <%= error.full_message %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>
    </ul>
  <% end %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group mt-2">
    <%= form.label :parent %>
    <%= form.collection_select(:parent_id, @places, :id, :name, include_blank: true, class: 'form-control' ) %>
  </div>

  <div class="mt-2">
    <%= form.submit t("send"), class: "btn btn-primary" %>
  </div>
<% end %>

<div class="pt-3">
  <%= link_to t('back'), places_path %>
</div>