<% place.errors.each do |key, value| %>
<div class="<%= flash_class('error') %>" role="alert">
  <%= t("#{key}") %> <%= value %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% end %>
<%= form_with model: place do |form| %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group mt-2">
    <%= form.label :parent %>
    <%= form.collection_select(:parent_id, @places, :id, :name, include_blank: false, class: 'form-control' ) %>
  </div>

  <div class="mt-2">
    <%= form.submit t("send"), class: "btn btn-primary" %>
  </div>
<% end %>

<div class="pt-3">
  <%= link_to t('back'), places_path %>
</div>